<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>注文完了 | ごちそうお弁当通販・モグモグ</title>
	<link rel="icon" th:href="@{/favicon.ico?v=1}" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/user/fragments.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/user/order_complete.css}" type="text/css">
</head>

<body>
	<header th:replace="user/fragments :: siteHeader"></header>

	<main class="order-complete-container">
		<div class="icon-success">&#10004;</div>
		<h1>ご注文ありがとうございます！</h1>
		<div class="text">
			<p>ご注文を承りました。</p>
			<p>ご注文内容の詳細は、送信済みの「ご注文確認メール」にてご確認ください。</p>
		</div>

		<div class="text">
			<p>注文番号：<span id="orderNumber" th:attr="data-order-id=${order.id}"></span></p>
			<p>注文日時：<span th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm')}"></span></p>
			<p>合計金額：<span th:text="${@priceFormatter.format(order.totalPrice)}"></span></p>

			<p>配送先：〒
				<span th:text="${order.postcode}"></span>
				<span class="shipping-address"
					th:text="' ' + ${order.prefecture} + ' ' + ${order.city} + ' ' + ${order.addressLine} + ' ' + ${order.building}"></span>
			</p>
		</div>

		<p class="thanks-message">またのご利用を心よりお待ちしております！</p>

		<a th:href="@{/}" class="btn-top">トップへ</a>
	</main>

	<footer th:replace="user/fragments :: siteFooter"></footer>

	<script>
		function generateRandomString(length) {
			const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
			let result = '';
			for (let i = 0; i < length; i++) {
				result += chars.charAt(Math.floor(Math.random() * chars.length));
			}
			return result;
		}

		// data属性から注文IDを取得
		const span = document.getElementById('orderNumber');
		const orderId = span.dataset.orderId;

		// ランダム文字列 + 注文ID を表示
		span.textContent = generateRandomString(2) + "-" + generateRandomString(11) + orderId;
	</script>
</body>

</html>